body {
    /* background-color: whitesmoke; */
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    /* max-width: 800px; */
    background-color: whitesmoke;
}
main {
    background-color: white;
}
li {
    list-style: none;
    background-color: white;
    max-width: 500px;
    text-align: center;
    margin: auto;
    padding: 1em;
}
h1 {
    background-color: white;
    padding: 1.5em;
    border-style: solid;
}
h2 {
    margin: auto;
}

a:hover {
    color: pink;
    background-color: black;
}

a {
    text-decoration: none;
    background-color: pink;
    color: black;
    padding: .5em;
}