#ticTacToetable {
    margin: 5px auto;
  }
  ​
  .vertical {
    border-left: solid red 100px;
    border-right: solid red 100px;

  }
  .middle {
    border-left: solid black 100px;
    border-right: solid red 100px;
    border-bottom: solid red 100px;
    border-top: solid red 100px;
  }
  ​
  .horizontal {
    border-top: solid black 100px;
    border-bottom: solid black 100px;
  }
  ​
  td {
    height: 70px;
    width: 70px;  
    font-size: 60px;
    text-align: center;
    }
.topleft {
    color: red;
}